version: "2"

services:
  backend:
    build: ./aspnetapp/
    image: aspnetcore_6.1
    volumes:
      - backend-storage:/app:rw
    ports:
      - "5000:80"

  # influxdb:
  #   image: influxdb:2.1.1
  #   volumes:
  #     - influxdb-storage:/var/lib/influxdb2:rw
  #   env_file:
  #     - .env
  #   entrypoint: ["./entrypoint.sh"]
  #   restart: on-failure:10
  #   ports:
  #     - ${DOCKER_INFLUXDB_INIT_PORT}:8086

volumes:
  influxdb-storage:
  backend-storage: