version: "3"

services:
  redis-aof:
    image: 'redis:latest'
    ports:
      - '6380:6379'
    build: ./redis-aof
    volumes:
      - redis-storage:/data:rw

  redis-rdb:
    build: ./redis
    volumes:
      - redis-storage:/data:rw
    ports:
      - '6381:6379'

  # beanstalkd_log:
  #   image: schickling/beanstalkd
  #   container_name: beanstalkd_log
  #   ports:
  #     - 11301:11300
  #   volumes:
  #     - beanstalk-data:/data
  #   command: -b /data

  # beanstalkd:
  #   image: schickling/beanstalkd
  #   container_name: beanstalkd
  #   ports:
  #     - 11300:11300

volumes:  
  redis-storage:
  beanstalk-data:
    driver: local