name: ci

on:
  push:
    branches:
      - "ci"

jobs:
  set-tag:
    name: Create tag
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.increment-git-tag.outputs.git-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Increment tag
        id: increment-git-tag
        working-directory: ./high_load_22_ci_cd
        run: |
          bash ./build/git_update.sh -v patch
  
  build:
    runs-on: ubuntu-latest
    needs: set-tag
    env:
      IMAGE_TAG: ${{ needs.set-tag.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build docker image
        working-directory: ./high_load_22_ci_cd
        run: |
          echo IMAGE_TAG = $IMAGE_TAG

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: set-tag
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: maksymtatseko/node_hello
      
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./high_load_22_ci_cd
          push: true
          tags: ${{ $IMAGE_TAG }}
          labels: ${{ steps.meta.outputs.labels }}


