name: ci

on:
  push:
    branches:
      - "ci"

jobs:
  set-tag:
    name: Create tag
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.increment-git-tag.outputs.git-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Increment tag
        id: increment-git-tag
        working-directory: ./high_load_22_ci_cd
        run: |
          bash ./build/git_update.sh -v patch
  
  build:
    runs-on: ubuntu-latest
    needs: set-tag
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build docker image
        env:
          IMAGE_TAG: ${{ needs.set-tag.outputs.tag }}
        run: |
          echo IMAGE_TAG = $IMAGE_TAG


